BEGIN:VCALENDAR
VERSION:2.0
CALSCALE:GREGORIAN
X-WR-CALNAME:#{feed[:title]}
X-WR-TIMEZONE:Asia/Tokyo
X-WR-CALDESC:#{feed[:url]}
PRODID:-//feedine//NONSGML//
BEGIN:VTIMEZONE
TZID:Asia/Tokyo
BEGIN:STANDARD
TZOFFSETFROM:+0900
TZOFFSETTO:+0900
DTSTART:19700101T000000
TZNAME:JST
END:STANDARD
END:VTIMEZONE
- feed[:entries].each do |entry|
  BEGIN:VEVENT
  = "URL:#{entry[:link]}"
  = "CATEGORIES:#{entry[:title]}"
  = "DESCRIPTION:#{entry[:description]} #{entry[:link]}"
  = "DTSTAMP:#{ical_at(entry[:date])}"
  = "DTSTART;TZID=Asia/Tokyo:#{ical_at(entry[:date])}"
  = "DTEND;TZID=Asia/Tokyo:#{ical_at(entry[:date])}"
  - if entry[:lat] and entry[:lng]
    = "LOCATION:#{entry[:lat]},#{entry[:lng]}"
  = "SUMMARY:#{entry[:title]}"
  = "UID:#{entry[:title]}-#{entry[:link]}"
  END:VEVENT
END:VCALENDAR
