%header
  %h1
    Feedine

%form{:action => '/rss.html'}
  %input{:type => 'text', :name => 'url', :size => 50}
  %input{:type => 'submit', :value => 'rss'}

- {abc:'青山ブックセンター', plusone:'ロフトプラスワン'}.each do |key,value|
  %article
    %h2= value
    %p
    - %w(html atom ics kml json).each do |ext|
      = link_to image_tag("/images/#{ext}.gif"), "/#{key}.#{ext}"
    = link_to image_tag("https://www.google.com/calendar/images/calendar_plus_ja.gif"), "https://www.google.com/calendar/render?cid=#{request.base_url}/#{key}.ics"
